## Social Housing Construction report

#### Import necessary libraries

In [20]:
import pymongo
import pandas as pd
from urllib.parse import quote_plus
import re
import numpy as np
import json
import googlemaps
import json
from shapely.geometry import shape, Point

#### Connect to mongodb cluster

In [2]:
# MongoDB connection parameters
username = "x23242361"
password = "housing@1234"
cluster_url = "housing.dzyvgkh.mongodb.net"

encoded_username = quote_plus(username)
encoded_password = quote_plus(password)

# Construct the connection string
connection_string = f"mongodb+srv://{encoded_username}:{encoded_password}@{cluster_url}/?retryWrites=true&w=majority"

# Create a MongoClient object
client = pymongo.MongoClient(connection_string)
print(client.list_database_names())

db = client['construction_cost']
# collection = db.create_collection('housing_construction')

['construction_cost', 'crime_ireland', 'sample_mflix', 'admin', 'local']

#### Extract the json file and load the raw data into mongodb cluster

In [6]:
with open('social_housing_construction_status_report_q3_2020.json', 'r') as file:
    data = json.load(file)
# db.housing_construction.insert_many(data)

#### Filter and load the Dublin data  for preprocessing

In [30]:
# Access the collection
collection = db['housing_construction']

query = {"LA": {"$in": ["DLR", "Dublin City", "Fingal","South Dublin"]}}
cursor = collection.find(query)
data = list(cursor)
df = pd.DataFrame(data)
df.columns

Index(['_id', 'No_', 'Funding Programme', 'LA', 'Scheme/Project Name',
       'No_ of Units', 'Approved Housing Body', 'Stage 1 Capital Appraisal',
       'Stage 2 Pre Planning', 'Stage 3 Pre Tender design',
       'Stage 4 Tender Report or Final Turnkey/CALF approval', 'On Site',
       'Completed'],
      dtype='object')

In [9]:
df.head()

,_id,No_,Funding Programme,LA,Scheme/Project Name,No_ of Units,Approved Housing Body,Stage 1 Capital Appraisal,Stage 2 Pre Planning,Stage 3 Pre Tender design,Stage 4 Tender Report or Final Turnkey/CALF approval,On Site,Completed
0,6627a6b99a97b07a7538f416,443,SHIP CONSTRUCTION RAPID,DLR,"Ballyogan Court, Ballyogan",67,*N/A,,"Stage 2 approved Q4-2018, full design/tender b...",,,,
1,6627a6b99a97b07a7538f419,446,SHIP CONSTRUCTION,DLR,Temple Road,3,*N/A,,,,,,Q2-2018
2,6627a6b99a97b07a7538f41b,448,SHIP CONSTRUCTION,DLR,The Brambles Park Close Sallynoggin,10,*N/A,,,,,,Q2-2018
3,6627a6b99a97b07a7538f412,439,SHIP CONSTRUCTION TURNKEY,DLR,Kilternan Close,22,*N/A,,,,"Stage 4 approved Q3-2020, the scheme is fully ...",,
4,6627a6b99a97b07a7538f417,444,SHIP CONSTRUCTION,DLR,"Park House, 66 George's Street, Dun Laoghaire",4,*N/A,,,"Stage 3 approved Q3-2020, the scheme is now ap...",,,

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 13 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   _id                                                   388 non-null    object
 1   No_                                                   388 non-null    int64
 2   Funding Programme                                     388 non-null    object
 3   LA                                                    388 non-null    object
 4   Scheme/Project Name                                   388 non-null    object
 5   No_ of Units                                          388 non-null    int64
 6   Approved Housing Body                                 388 non-null    object
 7   Stage 1 Capital Appraisal                             388 non-null    object
 8   Stage 2 Pre Planning                                  388 non-null    object
 9   Stage 3 Pre Tender design                             388 non-null    object
 10  Stage 4 Tender Report or Final Turnkey/CALF approval  388 non-null    object
 11  On Site                                               388 non-null    object
 12  Completed                                             388 non-null    object
dtypes: int64(2), object(11)
memory usage: 39.5+ KB

In [11]:
unique_df = df.drop_duplicates()

In [12]:
unique_df['Scheme/Project Name'] = unique_df['Scheme/Project Name'].str.lower()

#### Data cleaning for address column

In [15]:
def replace_short_abbreviation(address):
    address = re.sub(r'\bst\b', 'street', address)
    address = re.sub(r'\brd\b', 'road', address)
    address = re.sub(r'\bave\b', 'avenue', address)
    return address

unique_df['Scheme/Project Name'] = unique_df['Scheme/Project Name'].apply(replace_short_abbreviation)
unique_df.head()

,_id,No_,Funding Programme,LA,Scheme/Project Name,No_ of Units,Approved Housing Body,Stage 1 Capital Appraisal,Stage 2 Pre Planning,Stage 3 Pre Tender design,Stage 4 Tender Report or Final Turnkey/CALF approval,On Site,Completed
0,6627a6b99a97b07a7538f416,443,SHIP CONSTRUCTION RAPID,DLR,"ballyogan court, ballyogan",67,*N/A,,"Stage 2 approved Q4-2018, full design/tender b...",,,,
1,6627a6b99a97b07a7538f419,446,SHIP CONSTRUCTION,DLR,temple road,3,*N/A,,,,,,Q2-2018
2,6627a6b99a97b07a7538f41b,448,SHIP CONSTRUCTION,DLR,the brambles park close sallynoggin,10,*N/A,,,,,,Q2-2018
3,6627a6b99a97b07a7538f412,439,SHIP CONSTRUCTION TURNKEY,DLR,kilternan close,22,*N/A,,,,"Stage 4 approved Q3-2020, the scheme is fully ...",,
4,6627a6b99a97b07a7538f417,444,SHIP CONSTRUCTION,DLR,"park house, 66 george's street, dun laoghaire",4,*N/A,,,"Stage 3 approved Q3-2020, the scheme is now ap...",,,

#### Fetch lattitude and longitude for cleaned address

In [17]:
gmaps = googlemaps.Client(key="AIzaSyAEzaxILK7Yg6HO5fhCQLKKRdsEw-9EPM0")
def find_lat_long(address_county):
    geocode_result = gmaps.geocode(address_county)
    if not geocode_result:
        return None, None
    latitude = geocode_result[0]["geometry"]["location"]["lat"]
    longitude = geocode_result[0]["geometry"]["location"]["lng"]
    return latitude, longitude

unique_df['address_county'] = unique_df['Scheme/Project Name'] + ', ' + unique_df['LA']+', Ireland'
unique_df['latitude'], unique_df['longitude'] = zip(*unique_df['address_county'].map(find_lat_long))

In [18]:
unique_df['latitude'].isnull().sum()

0

#### Consolidate stages into singe column

In [19]:
conditions = [
    unique_df['Stage 1 Capital Appraisal']!= '',
    unique_df['Stage 2 Pre Planning']!= '',
    unique_df['Stage 3 Pre Tender design']!= '',
    unique_df['Stage 4 Tender Report or Final Turnkey/CALF approval']!= '',
    unique_df['On Site']!= ''
]

values = [
    'Stage 1 Capital Appraisal',
    'Stage 2 Pre Planning',
    'Stage 3 Pre Tender design',
    'Stage 4 Tender Report',
    'On Site'
]

# Assign 'Completed' if none of the conditions are met
default_value = 'Completed'

unique_df['status'] = np.select(conditions, values, default=default_value)

#### Load geojson file to identify garda divisions

In [22]:
with open("Garda_Districts_-_An_Garda_Siochana.geojson") as f:
    garda_data = json.load(f)

In [25]:
def assign_garda_division(df):
    longitude = df['longitude']
    latitude = df['latitude']

    for feature in garda_data['features']:
        polygon = shape(feature['geometry'])
        if polygon.contains(Point(longitude, latitude)):
            return feature['properties']['Division'] 

    return None

unique_df['garda division'] = unique_df.apply(assign_garda_division, axis=1)

In [26]:
unique_df['garda division'].isnull().sum()

0

In [27]:
garda_dmr_df =  unique_df[unique_df['garda division'].str.contains('DMR')]

In [28]:
processed_data = garda_dmr_df.to_dict("records")

#### Load the processed data into mongodb

In [ ]:
# processed_collection = db.create_collection('processed_housing_construction')
# db.processed_housing_construction.insert_many(processed_data)