## Schools in Dublin

#### import necessary libraries

In [16]:
import pandas as pd
from shapely.geometry import shape, Point
import pandas.io.sql as sqlio
import geopandas as gpd
import psycopg2
import requests

#### Connect to postgres server

In [11]:

try:
    dbConnection = psycopg2.connect(
        user = "postgres",
        password = "samyadhu",
        host = "127.0.0.1",
        port = "5432",
        database = "schools")
    dbConnection.set_isolation_level(0)
    dbCursor = dbConnection.cursor()
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)

#### Extract the csv data into dataframe

In [3]:
mainstream_school_df = pd.read_excel(u'mainstream-schools_dublin_2019-2020.xlsx')
special_school_df = pd.read_excel(u'special-schools_dublin_2019-2020.xlsx')
post_primary_school_df = pd.read_excel(u'post-primary-schools-2019-2020-1.xlsx')

#### Rename the dataframe columns

In [4]:
mainstream_school_df = mainstream_school_df.rename(columns={'Roll Number': 'roll_number', 'Official Name': 'official_name', 
                                                            'Address (Line 1)': 'address_1', 'Address (Line 2)': 'address_2','Address (Line 3)':'address_3',
                                                            'Address (Line 4)':'address_4', 'County Description':'county',
                                                            'Local Authority Description':'local_authority', 'Phone No.':'phone_no',
                                                            'Principal Name':'principal_name', 'Email':'email',
                                                            'Eircode':'eircode', 'Gaeltacht Indicator (Y/N)':'gaeltacht_indicator', 'DEIS (Y/N)':'deis'
                                                            , 'Island (Y/N)':'island','Irish Classification Description':'irish_classification',
                                                            'Ethos Description':'ethos_description', 'Female':'female',
                                                           'Male':'male', 'Total':'total'})

In [5]:
mainstream_school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   roll_number           452 non-null    object
 1   official_name         452 non-null    object
 2   address_1             452 non-null    object
 3   address_2             452 non-null    object
 4   address_3             384 non-null    object
 5   address_4             45 non-null     object
 6   county                452 non-null    object
 7   local_authority       452 non-null    object
 8   phone_no              452 non-null    int64
 9   principal_name        452 non-null    object
 10  email                 452 non-null    object
 11  eircode               449 non-null    object
 12  gaeltacht_indicator   452 non-null    object
 13  deis                  452 non-null    object
 14  island                452 non-null    object
 15  irish_classification  452 non-null    object
 16  ethos_description     452 non-null    object
 17  female                398 non-null    float64
 18  male                  410 non-null    float64
 19  total                 452 non-null    int64
dtypes: float64(2), int64(2), object(16)
memory usage: 70.8+ KB

In [6]:
mainstream_school_df.head()

,roll_number,official_name,address_1,address_2,address_3,address_4,county,local_authority,phone_no,principal_name,email,eircode,gaeltacht_indicator,deis,island,irish_classification,ethos_description,female,male,total
0,00697S,ST BRIGIDS MXD N S,Beechpark Lawn,Castleknock,Dublin 15,NaN,Dublin,Fingal County Council,18214040,Denis Courtney,principal@saintbrigids.ie,D15P820,N,N,N,No subjects through Irish,Catholic,447.0,502.0,949
1,00714P,LUCAN B N S,Chapel Hill,Lucan,Co. Dublin,NaN,Dublin,South Dublin County Council,16281857,Dara Burke,info@stmarysbnslucan.com,K78YD27,N,N,N,No subjects through Irish,Catholic,NaN,513.0,513
2,00729F,CLOCHAR LORETO N S,Grange Road,Rathfarnham,Dublin 14,NaN,Dublin,South Dublin County Council,14931640,Sr. Maria Hyland,info@loretograngeroad.ie,D14YY28,N,N,N,No subjects through Irish,Catholic,501.0,NaN,501
3,00752A,CENTRAL SENIOR MXD N S,Marlborough Street,Dublin 1,NaN,NaN,Dublin,Dublin City Council,18788103,Deirdre Gartland,modesenmix@eircom.net,D01P027,N,Y,N,No subjects through Irish,Catholic,133.0,143.0,276
4,01170G,S N NA H-AILLE,Westown,Naul,Co. Dublin,NaN,Dublin,Fingal County Council,18413821,Edel McMahon,naulns@eircom.net,K32PX40,N,N,N,No subjects through Irish,Catholic,67.0,72.0,139

In [7]:
# change the column name
special_school_df = special_school_df.rename(columns={'Address (Line 1)':'address_1', 'Address (Line 2)':'address_2',
                                                      'Address (Line 3)':'address_3', 'Address (Line 4)':'address_4',
                                                      'Eircode':'eircode', 'County Description':'county',
                                                       'Local Authority Description':'local_authority', 'Phone No.':'phone_no',
                                                      'Email':'email','School Type Description':'school_type', 
                                                      'Ethos Description':'ethos_description', 'Island (Y/N)':'island',
                                                       'DEIS (Y/N)':'deis', 'Irish Classification Description':'irish_classification',
                                                       'Gaeltacht Indicator (Y/N)':'gaeltacht_indicator', 'Enrolment per Return':'enrolment_per_return'})

In [8]:
special_school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   address_1             50 non-null     object
 1   address_2             50 non-null     object
 2   address_3             39 non-null     object
 3   address_4             13 non-null     object
 4   eircode               50 non-null     object
 5   county                50 non-null     object
 6   local_authority       50 non-null     object
 7   phone_no              50 non-null     int64
 8   email                 50 non-null     object
 9   school_type           50 non-null     object
 10  ethos_description     50 non-null     object
 11  island                50 non-null     object
 12  deis                  50 non-null     object
 13  irish_classification  50 non-null     object
 14  gaeltacht_indicator   50 non-null     object
 15  enrolment_per_return  50 non-null     int64
dtypes: int64(2), object(14)
memory usage: 6.4+ KB

In [10]:
special_school_df.head()

,address_1,address_2,address_3,address_4,eircode,county,local_authority,phone_no,email,school_type,ethos_description,island,deis,irish_classification,gaeltacht_indicator,enrolment_per_return
0,TEMPLE STREET,DUBLIN 1,NaN,NaN,D01YC67,Dublin,Dublin City Council,18784630,mary.chambers@cuh.ie,Special Education,Catholic,N,N,No subjects through Irish,N,68
1,Glenmaroon,Chapelizod,Dublin 20,NaN,D20A072,Dublin,Dublin City Council,18201859,principalgorevan@gmail.com,Special Education,Catholic,N,N,No subjects through Irish,N,166
2,College Street,Baldoyle,Dublin 13,NaN,D13W827,Dublin,Fingal County Council,18323043,baldoyleschool@smh.ie,Special Education,Multi Denominational,N,N,No subjects through Irish,N,56
3,VERNON AVENUE,CLONTARF,DUBLIN 3,NaN,D03K298,Dublin,Dublin City Council,18542230,mbcollins@crc.ie,Special Education,Catholic,N,N,No subjects through Irish,N,95
4,SANDYMOUNT AVENUE,DUBLIN 4,NaN,NaN,D04XH22,Dublin,Dublin City Council,12615907,sandymountschool.office@enableireland.ie,Special Education,Catholic,N,N,No subjects through Irish,N,43

In [12]:
# change the column name
post_primary_school_df = post_primary_school_df.rename(columns={'Roll Number':'roll_number', 'Official School Name':'official_school_name',
                                                                'Address 1':'address_1', 'Address 2':'address_2','Address 3':'address_3', 
                                                                'Address 4':'address_4','County':'county', 'Local Authority':'local_authority', 
                                                                'Eircode':'eircode','Principal Name':'principal_name', 'Email':'email', 'Phone':'phone', 
                                                                'DEIS (Y/N)':'deis','Gaeltacht Area Location (Y/N)':'gaeltacht', 
                                                                'Island Location (Y/N)':'island','Fee Paying School (Y/N)':'fee_paying', 
                                                                'Pupil Attendance Type':'pupil_attendance_type','School Gender - Post Primary':'school_gender', 
                                                                'Irish Classification - Post Primary':'irish_classification','Post Primary School Type':'post_primary_school_type',
                                                                'Ethos/Religion':'ethos', 'FEMALE':'female', 'MALE':'male','TOTAL (2019-20)':'total'})

In [13]:
post_primary_school_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   roll_number               183 non-null    object
 1   official_school_name      183 non-null    object
 2   address_1                 183 non-null    object
 3   address_2                 183 non-null    object
 4   address_3                 134 non-null    object
 5   address_4                 31 non-null     object
 6   county                    183 non-null    object
 7   local_authority           183 non-null    object
 8   eircode                   178 non-null    object
 9   principal_name            183 non-null    object
 10  email                     183 non-null    object
 11  phone                     183 non-null    object
 12  deis                      183 non-null    object
 13  gaeltacht                 183 non-null    object
 14  island                    183 non-null    object
 15  fee_paying                183 non-null    object
 16  pupil_attendance_type     179 non-null    object
 17  school_gender             183 non-null    object
 18  irish_classification      183 non-null    object
 19  post_primary_school_type  183 non-null    object
 20  ethos                     183 non-null    object
 21  female                    144 non-null    float64
 22  male                      136 non-null    float64
 23  total                     183 non-null    int64
dtypes: float64(2), int64(1), object(21)
memory usage: 34.4+ KB

In [14]:
post_primary_school_df.head()

,roll_number,official_school_name,address_1,address_2,address_3,address_4,county,local_authority,eircode,principal_name,...,island,fee_paying,pupil_attendance_type,school_gender,irish_classification,post_primary_school_type,ethos,female,male,total
0,60010P,Loreto Secondary School,Brick Lane,Balbriggan,Co Dublin,NaN,Dublin,Fingal County Council,K32R248,MS. ANN M MCDONOUGH,...,N,N,Day,Girls,No subjects taught through Irish,Secondary,CATHOLIC,1282.0,NaN,1282
1,60021U,St Marys Secondary School,Baldoyle,D13 W208,NaN,NaN,Dublin,Fingal County Council,D13W208,MS. EDEL GREENE,...,N,N,Day,Girls,No subjects taught through Irish,Secondary,CATHOLIC,274.0,NaN,274
2,60030V,Blackrock College,Blackrock College,Co Dublin,NaN,NaN,Dublin,Dun Laoghaire Rathdown,A94FK84,MR. ALAN T MAC GINTY,...,N,Y,Mixed,Boys,No subjects taught through Irish,Secondary,CATHOLIC,NaN,1024.0,1024
3,60040B,Willow Park School,Rock Road,Blackrock,Co Dublin,NaN,Dublin,Dun Laoghaire Rathdown,A94TW98,MR. ALAN JAMES THOMAS ROGAN,...,N,Y,Mixed,Boys,No subjects taught through Irish,Secondary,CATHOLIC,NaN,207.0,207
4,60041D,Coláiste Eoin,Baile an Bhóthair,Bóthair Stigh Lorgan,Co. Átha Cliath,NaN,Dublin,Dun Laoghaire Rathdown,A94E122,MR. P.S DE POIRE,...,N,N,Day,Boys,All pupils taught all subjects through Irish,Secondary,CATHOLIC,NaN,496.0,496

####  Create tables to load raw data

In [ ]:
mainstream_table = """CREATE TABLE mainstream_school (
    roll_number TEXT,
    official_name TEXT,
    address_1 TEXT,
    address_2 TEXT,
    address_3 TEXT,
    address_4 TEXT,
    county TEXT,
    local_authority TEXT,
    phone_no BIGINT,
    principal_name TEXT,
    email TEXT,
    eircode TEXT,
    gaeltacht_indicator TEXT,
    deis TEXT,
    island TEXT,
    irish_classification TEXT,
    ethos_description TEXT,
    female FLOAT,
    male FLOAT,
    total INT
);
"""
dbCursor.execute(mainstream_table)

specialschool_table = """
CREATE TABLE special_school (
    address_1 TEXT,
    address_2 TEXT,
    address_3 TEXT,
    address_4 TEXT,
    eircode TEXT,
    county TEXT,
    local_authority TEXT,
    phone_no BIGINT,
    email TEXT,
    school_type TEXT,
    ethos_description TEXT,
    island TEXT,
    deis TEXT,
    irish_classification TEXT,
    gaeltacht_indicator TEXT,
    enrolment_per_return INT
);
"""
dbCursor.execute(specialschool_table)

post_primary_school_table = """
    CREATE TABLE post_primary_school (
    roll_number TEXT,
    official_school_name TEXT,
    address_1 TEXT,
    address_2 TEXT,
    address_3 TEXT,
    address_4 TEXT,
    county TEXT,
    local_authority TEXT,
    eircode TEXT,
    principal_name TEXT,
    email TEXT,
    phone TEXT,
    deis TEXT,
    gaeltacht TEXT,
    island TEXT,
    fee_paying TEXT,
    pupil_attendance_type TEXT,
    school_gender TEXT,
    irish_classification TEXT,
    post_primary_school_type TEXT,
    ethos TEXT,
    female FLOAT,
    male FLOAT,
    total INT
);
"""
dbCursor.execute(post_primary_school_table)

#### Insert the data into tables created

In [ ]:
table_name = 'mainstream_school'
columns = ', '.join(mainstream_school_df.columns)
placeholders = ', '.join(['%s'] * len(mainstream_school_df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert the data row by row
for index, row in mainstream_school_df.iterrows():
    values = tuple(row)
    dbCursor.execute(insert_query, values)

# Commit the changes and close the connection
dbConnection.commit()
# conn.close()

In [ ]:
table_name = 'special_school'
columns = ', '.join(special_school_df.columns)
placeholders = ', '.join(['%s'] * len(special_school_df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert the data row by row
for index, row in special_school_df.iterrows():
    values = tuple(row)
    dbCursor.execute(insert_query, values)

# Commit the changes and close the connection
dbConnection.commit()
# conn.close()

In [ ]:
table_name = 'post_primary_school'
columns = ', '.join(post_primary_school_df.columns)
placeholders = ', '.join(['%s'] * len(post_primary_school_df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert the data row by row
for index, row in post_primary_school_df.iterrows():
    values = tuple(row)
    dbCursor.execute(insert_query, values)

# Commit the changes and close the connection
dbConnection.commit()
# conn.close()

#### Fetch latitude and longitude based on EIRCODE

In [ ]:

def get_latlong_from_eircode(eircode):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={eircode}&key=AIzaSyAEzaxILK7Yg6HO5fhCQLKKRdsEw-9EPM0"
    response = requests.get(url)
    data = response.json()

    if data['status'] == 'OK':
        latitude = data['results'][0]['geometry']['location']['lat']
        longitude = data['results'][0]['geometry']['location']['lng']
        return latitude, longitude
    else:
        return None, None

# Assuming you have a DataFrame 'df' with an 'eircode' column


mainstream_school_df['latitude'] = mainstream_school_df['eircode'].apply(lambda x: get_latlong_from_eircode(x)[0])
mainstream_school_df['longitude'] = mainstream_school_df['eircode'].apply(lambda x: get_latlong_from_eircode(x)[1])
special_school_df['latitude'] = special_school_df['eircode'].apply(lambda x: get_latlong_from_eircode(x)[0])
special_school_df['longitude'] = special_school_df['eircode'].apply(lambda x: get_latlong_from_eircode(x)[1])
post_primary_school_df['latitude'] = post_primary_school_df['eircode'].apply(lambda x: get_latlong_from_eircode(x)[0])
post_primary_school_df['longitude'] = post_primary_school_df['eircode'].apply(lambda x: get_latlong_from_eircode(x)[1])

In [ ]:
# Load GeoJSON file
with open("Garda_Districts_-_An_Garda_Siochana.geojson") as f:
    garda_data = json.load(f)

#### Assign garda division

In [ ]:
## define the function to assign garda station to each address
def assign_garda_division(df):
    longitude = df['longitude']
    latitude = df['latitude']

    for feature in garda_data['features']:
        polygon = shape(feature['geometry'])
        if polygon.contains(Point(longitude, latitude)):
            return feature['properties']['Division']  
    return None

In [ ]:
# Apply the function to assign Garda division to each row in the DataFrame
mainstream_school_df['garda division'] = mainstream_school_df.apply(assign_garda_division, axis=1)
# Apply the function to assign Garda division to each row in the DataFrame
special_school_df['garda division'] = special_school_df.apply(assign_garda_division, axis=1)
# Apply the function to assign Garda division to each row in the DataFrame
post_primary_school_df['garda division'] = post_primary_school_df.apply(assign_garda_division, axis=1)

In [ ]:
mainframe_processed = """CREATE TABLE mainstream_school_processed (
    roll_number TEXT,
    official_name TEXT,
    address_1 TEXT,
    address_2 TEXT,
    address_3 TEXT,
    address_4 TEXT,
    county TEXT,
    local_authority TEXT,
    phone_no BIGINT,
    principal_name TEXT,
    email TEXT,
    eircode TEXT,
    gaeltacht_indicator TEXT,
    deis TEXT,
    island TEXT,
    irish_classification TEXT,
    ethos_description TEXT,
    female FLOAT,
    male FLOAT,
    total INT,
    latitude FLOAT,
    longitude FLOAT,
    garda_division TEXT
);
"""
dbCursor.execute(mainframe_processed)

specialschool_processed = """
CREATE TABLE special_school_processed (
    address_1 TEXT,
    address_2 TEXT,
    address_3 TEXT,
    address_4 TEXT,
    eircode TEXT,
    county TEXT,
    local_authority TEXT,
    phone_no BIGINT,
    email TEXT,
    school_type TEXT,
    ethos_description TEXT,
    island TEXT,
    deis TEXT,
    irish_classification TEXT,
    gaeltacht_indicator TEXT,
    enrolment_per_return INT,
    latitude FLOAT,
    longitude FLOAT,
    garda_division TEXT
);
"""
dbCursor.execute(specialschool_processed)

post_primary_school__processed = """
    CREATE TABLE post_primary_school_processed (
    roll_number TEXT,
    official_school_name TEXT,
    address_1 TEXT,
    address_2 TEXT,
    address_3 TEXT,
    address_4 TEXT,
    county TEXT,
    local_authority TEXT,
    eircode TEXT,
    principal_name TEXT,
    email TEXT,
    phone TEXT,
    deis TEXT,
    gaeltacht TEXT,
    island TEXT,
    fee_paying TEXT,
    pupil_attendance_type TEXT,
    school_gender TEXT,
    irish_classification TEXT,
    post_primary_school_type TEXT,
    ethos TEXT,
    female FLOAT,
    male FLOAT,
    total INT,
    latitude FLOAT,
    longitude FLOAT,
    garda_division TEXT
);
"""
dbCursor.execute(post_primary_school__processed)

In [ ]:
mainstream_school_df.rename(columns={'garda division': 'garda_division'}, inplace=True)
special_school_df.rename(columns={'garda division': 'garda_division'}, inplace=True)
post_primary_school_df.rename(columns={'garda division': 'garda_division'}, inplace=True)

#### Load the processed data into postgres

In [ ]:
table_name = 'mainstream_school_processed'
columns = ', '.join(mainstream_school_df.columns)
placeholders = ', '.join(['%s'] * len(mainstream_school_df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert the data row by row
for index, row in mainstream_school_df.iterrows():
    values = tuple(row)
    dbCursor.execute(insert_query, values)

# Commit the changes and close the connection
dbConnection.commit()
# conn.close()

In [ ]:
table_name = 'special_school_processed'
columns = ', '.join(special_school_df.columns)
placeholders = ', '.join(['%s'] * len(special_school_df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert the data row by row
for index, row in special_school_df.iterrows():
    values = tuple(row)
    dbCursor.execute(insert_query, values)

# Commit the changes and close the connection
dbConnection.commit()
# conn.close()

In [ ]:
table_name = 'post_primary_school_processed'
columns = ', '.join(post_primary_school_df.columns)
placeholders = ', '.join(['%s'] * len(post_primary_school_df.columns))
insert_query = f"INSERT INTO {table_name} ({columns}) VALUES ({placeholders})"

# Insert the data row by row
for index, row in post_primary_school_df.iterrows():
    values = tuple(row)
    dbCursor.execute(insert_query, values)

# Commit the changes and close the connection
dbConnection.commit()
# conn.close()